
!!! 5
html(lang='en')
  head
    title Taggr
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
  body
    h1 Welcome to Taggr
    div Taggr brings your online identity offline. Check-in to your favorite spots, stay in touch with new friends, and play new real-life games.
    h1
      a(href='/login')  Log in to access your taggr or activate a new one