
!!! 5
html(lang='en')
  head
    title Taggr
    script(src='http://localhost:8080/socket.io/socket.io.js')
    script(src='jquery.js')
    script(src='taggr-client.js')
    link(rel='stylesheet', href='/default.css')
  body
    div(id='spot_name_div')
      h1(id='spot_name') Trying to connect to local spot...
    div(id='spot_image_div')
      div(id="image_div")
    h1 Get ready to tag, #{name}!
    - if(uids.length)
      h2 You have an active taggr.
    - else
      h2 You don't have a taggr associated with your account. Please Tap your taggr to activate it.
    br
    a(href='/logout') Logout
    br
    a(id='connect_tag') Tap a Keychain

    - if (uids.length)
      h3 Already Used Keys:
      ul(id='uids')
        - uids.forEach(function(uid){
          li
            #{uid.uid}
        - })