
!!! 5
html(lang='en')
  head
    title Taggr
    script(src='http://localhost:8080/socket.io/socket.io.js')
    script(src='jquery.js')
    script(src='taggr-client.js')
  body
    h1 Get ready to tag, #{name}!
    a(id='connect_tag') Tap a Keychain
    ul(id='uids')
    - uids.forEach(function(uid){
      li
        #{uid}
    - })