
!!! 5
html(lang='en')
  head
    title Taggr
    script(src='/socket.io/socket.io.js')
    script(src='/public/jquery.js')
    script(src='/public/taggr-client.js')
  body
    h1 Get ready to tag, #{name}!